*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.nav-bar{
    max-width: 110%;
    height: auto;
    margin: 0px;
    padding: 3px;
    background: black;
    border-width: 10%;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
}
.nav-bar li{
    list-style:none;
    margin:0px 20px;
    text-decoration:none;
    font-size:13px;
}
    
nav{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:12px;
    background:#efefef;

    
    }
    .btn{
        color: black;
        background-color: blue;
        border-color: blue;
        margin-top:100px;
    }
    